[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
python-json-logger = "*"
python-dotenv = "*"
fastapi = "*"

[dev-packages]
flake8 = "*"
flake8-bugbear = "*"
flake8-2020 = "*"
pytest = "*"
black = "*"

[requires]
python_version = "3.11"

[scripts]
"start:fastapi" = "fastapi dev main.py"
test = "pytest"
format = "black ."
lint = "flake8"
"build:docker" = "docker buildx build --load -f v3.11.9.Dockerfile -t 27_fastapi:latest ."
"start:docker" = "docker run -it -p 8000:8000 27_fastapi:latest"