[[source]]
url = "${PYTHON_REPOSITORY_URL}"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
twine = "*"
pytest = "*"

[requires]
python_version = "3.11"

[scripts]
"test" = "pytest"
"test:stdout" = "pytest -s"
"package" = "python setup.py sdist bdist_wheel"
