[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
python-json-logger = "*"
python-dotenv = "*"

[dev-packages]
flake8 = "*"
flake8-bugbear = "*"
flake8-2020 = "*"
pytest = "*"
black = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"

[scripts]
"start" = "python main.py"
"start:test" = "python main.py --test"
test = "pytest"
"test:coverage" = "pytest --cov=. --cov-report html:coverage"
"test:coverage:build" = "pytest --cov=."
"test:serve" = "docker run -v ./coverage:/usr/share/nginx/html -it --rm -p 8080:80 nginx:1.27.0"
lint = "flake8"
"lint:fix" = "black ."
"docker:build" = "docker build --tag 31_pytest --progress=plain ."
"docker:run" = "docker run -it --rm --name 31_pytest 31_pytest"