[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
python-json-logger = "*"
python-dotenv = "*"
kafka-python = "*"

[dev-packages]
flake8 = "*"
flake8-bugbear = "*"
flake8-2020 = "*"
pytest = "*"
black = "*"

[requires]
python_version = "3.11"

[scripts]
"start" = "python main.py"
"start:publisher" = "python main.py --publisher"
"start:consumer" = "python main.py --consumer"
test = "pytest"
lint = "flake8"
