[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
"start:default" = "python main.py"
"start:example" = "python main.py"
test = "pytest"
lint = "flake8"

