[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
python-json-logger = "*"
python-dotenv = "*"
faster-whisper = "*"
nvidia-ml-py = "*"

[dev-packages]
flake8 = "*"
flake8-bugbear = "*"
flake8-2020 = "*"
pytest = "*"
black = "*"
gprof2dot = "*"
snakeviz = "*"

[requires]
python_version = "3.11"

[scripts]
"start" = "python main.py"
"start:test" = "python main.py --test"
test = "pytest"
lint = "flake8"
format = "black ."
"docker:build:cpu" = "docker buildx build --load -f v3.11.3.Dockerfile -t 36_faster_whisper_cpu:latest ."
"docker:start:cpu" = "docker run -v ./.model-cache:/root/.cache/huggingface/hub  36_faster_whisper_cpu:latest ./start.sh"
"docker:profile:cpu" = "docker run --cpus=4 -e OMP_NUM_THREADS=4 -v ./.model-cache:/root/.cache/huggingface/hub -v ./out:/workbench/out 36_faster_whisper_cpu:latest ./start.sh"

"docker:build:gpu" = "docker buildx build --load -f nvidia_cuda.Dockerfile -t 36_faster_whisper_gpu:latest ."
"docker:start:gpu" = "docker run --gpus all -v ./.model-cache:/root/.cache/huggingface/hub  36_faster_whisper_gpu:latest ./start.sh"
"docker:profile:gpu" = "docker run --cpus=4 -e OMP_NUM_THREADS=4 --gpus all -v ./.model-cache:/root/.cache/huggingface/hub -v ./out:/workbench/out 36_faster_whisper_gpu:latest ./start.sh"

"profile" = "python -m cProfile main.py"
"profile:save" = "python -m cProfile -o ./out/main.pstats main.py"
"profile:dot" = "gprof2dot -f pstats ./out/main.pstats -o ./out/main.dot"
"profile:render" = "dot ./out/main.dot -Tpng -o ./out/output.png"
"profile:snakeviz:cpu" = "snakeviz ./out/main_cpu.pstats"
"profile:snakeviz:gpu" = "snakeviz ./out/main_gpu.pstats"
