[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
python-json-logger = "*"
python-dotenv = "*"
faster-whisper = "*"

[dev-packages]
flake8 = "*"
flake8-bugbear = "*"
flake8-2020 = "*"
pytest = "*"
black = "*"
gprof2dot = "*"
snakeviz = "*"

[requires]
python_version = "3.11"

[scripts]
"start" = "python main.py"
"start:test" = "python main.py --test"
test = "pytest"
lint = "flake8"
format = "black ."
"docker:build" = "docker buildx build --load -f v3.11.3.Dockerfile -t 36_faster_whisper:latest ."
"docker:start" = "docker run -v ./.model-cache:/root/.cache/huggingface/hub  36_faster_whisper:latest"
"docker:profile" = "docker run -v ./.model-cache:/root/.cache/huggingface/hub -v ./out:/workbench/out 36_faster_whisper:latest"
"profile" = "python -m cProfile main.py"
"profile:save" = "python -m cProfile -o ./out/main.pstats main.py"
"profile:dot" = "gprof2dot -f pstats ./out/main.pstats -o ./out/main.dot"
"profile:render" = "dot ./out/main.dot -Tpng -o ./out/output.png"
"profile:snakeviz" = "snakeviz ./out/main.pstats"
