[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
python-json-logger = "*"
python-dotenv = "*"
jiwer = "*"

[dev-packages]
flake8 = "*"
flake8-bugbear = "*"
flake8-2020 = "*"
pytest = "*"
black = "*"

[requires]
python_version = "3.11"

[scripts]
"start" = "python main.py"
"start:process" = "python main.py --process --truth \"./documents/english_windinthewillows_grahame_rll_64kb.mp3.json\" --test \"./documents/english_windinthewillows_grahame_rll_8khz_16kb_9.2.0.m4a.json\""
test = "pytest"
lint = "flake8"
