# SCHEDULING

Scheduled Tasks.  

## Schedule :city_sunset:

```mermaid

gantt
    title {{ title }} 
    dateFormat  YYYY-MM-DD HH:mm:ss
    axisFormat  %d/%m/%Y %H:%M

    section Tasks
    {% for row in data %}
        {{ row.task_id }} : {{ row.createdAt }}, {{ current_datetime.strftime('%Y-%m-%d %H:%M:%S') }}
    {% endfor %}
```

