[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
python-json-logger = "*"
python-dotenv = "*"
openai-whisper = {git = "git+https://github.com/openai/whisper.git"}
numpy = "1.26.4"
opentelemetry-distro = "*"

[dev-packages]
flake8 = "*"
flake8-bugbear = "*"
flake8-2020 = "*"
pytest = "*"
black = "*"

[requires]
python_version = "3.11"

[scripts]
"start" = "python main.py"
"start:test" = "python main.py --test"
test = "pytest"
lint = "flake8"
format = "black ."
"build:docker" = "docker buildx build --load -f v3.11.9.Dockerfile -t 34_whisper:latest ."
"start:docker" = "docker run --rm -it -p 8000:8000 --name 34_whisper --network 34_whisper_service_bridge 34_whisper:latest"
