[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "${CODEARTIFACT_URL}"
verify_ssl = true
name = "codeartifact"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "pytorch"

[packages]
torch = { index = "pytorch"}
torchaudio = { index = "pytorch"}
pyyaml = "*"
python-json-logger = "*"
python-dotenv = "*"
empty_test_package = {version = "==0.0.3", index = "codeartifact"}
torch_test_package = {version = "==0.0.11", index = "codeartifact"}

[dev-packages]
flake8 = "*"
flake8-bugbear = "*"
flake8-2020 = "*"
pytest = "*"
black = "*"

[requires]
python_version = "3.11"

[scripts]
"start" = "python main.py"
"start:test" = "python main.py --test"
test = "pytest -v -rP"
lint = "flake8"
clean = "just clean"