[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
python-json-logger = "*"
python-dotenv = "*"

[dev-packages]
flake8 = "*"
flake8-bugbear = "*"
flake8-2020 = "*"
pytest = "*"
black = "*"
py-spy = "*"

[requires]
python_version = "3.11"

[scripts]
"start" = "python main.py"
"start:test" = "python main.py --test"
test = "pytest"
lint = "flake8"
format = "black ."
"docker:build" = "docker buildx build --load -f v3.11.3.Dockerfile -t 41_pyspy:latest ."
"docker:start" = "docker run 41_pyspy:latest"
"pyspy" = "py-spy record -o ./out/profile.svg -- python main.py --test"
